button.updateThisTask {
    background-color: orange;
    width: 70px;
    height: 25px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
}
#thisTask {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    margin-top: 10px;
}